@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@media only screen and (min-width: 768px) {
    .fonctionnement {
      flex-basis: 47%;
    }
    .restaurant {
        flex-basis: 48%;
    }
    .btn-coeur {
        font-size: 1.5rem;
    }
    .restaurant-description i {
        position: absolute;
        right: 1rem;
        top: 1.5rem;
        font-size: 1.5rem;
    }
    .restaurant-description .fas {
        color: transparent;
        transition: ease-out all 400ms;
    }
    .restaurant-description i:hover {
        transform: scale(1.3);
        background-image: linear-gradient(163deg, #ee73da 0%, #a05bdc 100%) !important;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 1;
    }
    .fonctionnements-liste {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        grid-template-columns: repeat(3, 1fr);
        display: block;
    }

    /* ANIMATION CHARGEMENT */

    .chargement {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        animation: chargement 5s ease-in-out;
        animation-fill-mode: both;
    }

    